.buttonLinkNav{
    /*Design a button in a box white*/
    @include textDecorationLink(white);
    border: 2px solid white;
    @include flexCenter(center);
    padding: 0.5rem;
    margin: 0.5rem;
    height: $heightButtonNav;
    width: $widthButtonNav;
    font-size: $fontSizeH5;
    cursor: pointer;
    &:hover{
        color: #a7a9be;
        transition: all 1s;
        background-color: #e53170;

    }
}