header {
    height: $heightView;
    background-color: #0f0e17;
    @include flexCenter(center);
    flex-direction: column;

    #enter {
        @include flexCenter(center);
        flex-direction: column;
        animation: fadeIn 2s;
        animation-fill-mode: forwards;
        animation-delay: 4s;
        div+span {
            display: block;
            color: white;
            font-family: monospace;
            white-space: nowrap;
            border-right: 2px solid;
            width: 7rem;
            animation: typing 2s steps(12),
                blink .5s infinite step-end;
            overflow: hidden;
        }
    }

    .navigation-menu {
        list-style: none;
    }
}

@media screen and (max-width: $breakpoint) {
   .navigation-menu{
    @include displayGrid(repeat(2,1fr));
   }
}
@media screen and (min-width: $breakpoint) {
    .navigation-menu {
        @include flexCenter(center);
    }
 }        
.presentation {
    z-index: $zindex1;
    color: white;
    font-size: $fontSizeH2;
    @include flexCenter(center);
    flex-direction: column;
}

.dedication {
    animation: reveal 3s ease-in-out;
    z-index: $zindex0;
}

/*keyframe that simulates a typewritter*/
@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }

}

@keyframes fadeIn {

    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}