$margin0 : 0;
$zindex0 : 0;
$zindex1 : 1;
$zindex2 : 2;
$fontSizeH1 : 3rem;
$breakpoint : 768px;
$width : 100%;
$width50 : 50%;
$height : 100%;
$heightView : 100vh;
$padding : 1rem;
$margin : 1rem;
$widthLiMenu : 33%;
$padding0 : 0;
$backgroundColorMenu : #25d3c7;
$colorTextMenu : white;